/*************************************/

table.summarylist  {
    background:#81dbe6;
    padding: 4px;
    width: 600px;
    border-width: 2px;
    border-style: solid;
}

th.summarylist {
	background:#d5daec;
	border-width: 1px;
	/*padding: 4px;*/
	border-style: solid;
    font-family: "Arial";
    font-size: 10px;
}

/*************************************/

table.projectlist  {
    background:#b5cfd2;
    padding: 4px;
    width: 600px;
    border-width: 2px;
    border-style: solid;
}

th.projectlist {
	background:#8296dd;
	border-width: 2px;
	padding: 4px;
	border-style: solid;
    font-family: "Comic Sans MS";
    font-size: 14px;
}

/*************************************/

.bloglist-header {
    text-align: center;
    /*background:#95dfe8;*/
    /*padding: 4px;*/
    /*width: 600px;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
}

table.bloglist {
    background:#bbe4e9;
    padding: 4px;
    width: 600px;
    border-width: 2px;
    border-style: solid;
}

th.bloglist {
	background:#d0d1f6;
	border-width: 1px;
	/*padding: 4px;*/
	border-style: solid;
    font-family: "Arial";
    /*font-size: 12px;*/
}

th.bloglist-hover {
	background:#b64747;
	border-width: 1px;
	/*padding: 4px;*/
	border-style: groove;
    font-family: "Arial";
    /*font-size: 12px;*/
}

h3.bloglist {
    font-size: 24px;
}

p.bloglist {
    /*background:#FF0000;*/
    font-weight: 900;
}

/*************************************/
