/*************************************/

div.main {
    padding-bottom: 10px;
    display: flex;
}

/*************************************/

.cityscape {
    padding: 0px;

    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}
/*************************************/

.summarylist {
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
}

.summarylist-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;

    padding: 4px;
    background:#bbe4e9;
}

.summarylist-item {
    flex: auto;
    margin: auto;

    padding: 4px;
    background:#d5daec;
}

/*************************************/

table.projectlist  {
    background:#b5cfd2;
    padding: 2px;
    width: 600px;

    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-radius: 15px;
}

th.projectlist {
	background:#8296dd;
	padding: 4px;
    font-family: "Comic Sans MS";
    font-size: 14px;

    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
}

/*************************************/

.bloglist-header {
    text-align: center;
}

/*.bloglist-currblog {
    width: 600px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

    border-style: solid;
    border-color: #535353;
    border-width: 2px;
    border-radius: 15px;
}*/

.bloglist-container {
    width: 600px;
    /*width: 400px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background:#bbe4e9;
    padding: 2px;

    border-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-radius: 15px;
}

.bloglist-item {
    width: 170px;

	background:#d0d1f6;
    font-family: "Arial";

    border-style: solid;
    border-color: #a6a8f2;
    border-width: 2px;
    border-radius: 15px;
}

.bloglist-item-hover {
    background:#b64747;
}

h4.bloglist {
    font-size: 24px;
}

/*************************************/
