/*************************************/

div.main {
    padding-bottom: 10px;
    display: flex;
    flex-flow: column;
}

/*************************************/

.cityscape {
    display: flex;
    margin: auto;

    padding: 0px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
}
/*************************************/

.summarylist {
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
}

.summarylist-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;

    padding: 4px;
    background:#bbe4e9;
}

.summarylist-item {
    flex: auto;
    margin: auto;

    padding: 4px;
    background:#d5daec;
}

/*************************************/

.projectlist {
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
}

.projectlist-container  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;

    background:#b5cfd2;
    padding: 2px;
}

.projectlist-item {
    flex: auto;
    margin: auto;

    padding: 4px;
	background:#8296dd;
    font-family: "Comic Sans MS";
    font-size: 14px;
}

/*************************************/

.bloglist {
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 15px;
}
.bloglist-header {
    text-align: center;
}

.bloglist-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;

    background:#bbe4e9;
    padding: 2px;
}

.bloglist-item {
    flex: auto;
    margin: auto;

    padding: 4px;

	background:#d0d1f6;
    font-family: "Arial";
}

.bloglist-item-hover {
    background:#b47676;
}

/*************************************/
