<!DOCTYPE html>
<html lang="en" ng-app="collection">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>

        <div class="container" ng-controller="UserController" ng-show="true">
            <h1>Hi, {{user.name}}.</h1>
            <h2 class="text-{{user.status}}">Your current status: {{user.status}}</h2>
            <h1>number! {{user.number * user.number + 17}}</h1>
        </div>

        <div class="container" ng-controller="MovieDataLoaderController" ng-show="true">
            <div ng-repeat="item in items">
                <h2>
                    <item-title></item-title>
                </h2>
                <h3>International Gross: {{item.gross * 1000000 | currency:'$'}}<h3>
                <div>
                    <p>{{item.shortDescription}}</p>
                </div>
                <h3 ng-show="{{item.inCollection}}">(In your collection)</h3>
                <item-panels></item-panels>
            </div>
        </div>

        <div ng-controller="CollectionController as collection" ng-show="false">
            <div ng-repeat="item in collection.items">
                <h2>
                    {{item.name}}
                    <span>{{item.release | date:'mediumDate'}}</span>
                </h2>
                <h3>International Gross: {{item.gross * 1000000 | currency:'$'}}<h3>
                <div>
                    <p>{{item.shortDescription}}</p>
                </div>
                <h3 ng-show="{{item.inCollection}}">(In your collection)</h3>
                <section>
                    <ul class='nav nav-tabs'>
                        <li><a href>Description</a></li>
                        <li><a href>Cast</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </body>
</html>
