<ul class='nav nav-tabs'>
    <li ng-class="{active:panel.isTabSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
    <li ng-class="{active:panel.isTabSelected(2)}"><a href ng-click="panel.selectTab(2)">Cast</a></li>
</ul>
<div class="panel" ng-show="panel.isTabSelected(1)">
    <h4>Description</h4>
    <blockquote>{{item.longDescription}}</blockquote>
</div>
<div class="panel" ng-show="panel.isTabSelected(2)">
    <h4>Cast</h4>
    <table class='table'>
        <tr ng-repeat="member in item.cast">
            <td>{{member.name}}</td>
            <td>{{member.character}}</td>
        </tr>
    </table>
</div>
